*,
html{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: paleturquoise;
}





/* NAVBAR MULAI */
.navbar-blok{
    background-color:#27D3FE ;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-ul{
    display: flex; 
    justify-content: center;
    list-style-type: none;
}

.navbar-li{
    padding: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-li:hover{
    background-color: paleturquoise;
    transition: .5s ease-in-out;
    transition-delay: .3s;
    border-radius: 30px;   
}

.navbar-a{
    text-decoration: none;
    color: whitesmoke;
    font-weight: 800;
}
/* NAVBAR SELESAI */





/* KONTEN MULAI */
.konten-blok{
    background-color:whitesmoke;
    margin-left: 10%;
    margin-right: 10%;
    padding: 3%;
    height: 80vh auto;
    text-align: center  
}

.konten-border{
    border: 20px solid whitesmoke;
}

/* ABOUT */
.konten-box{
    background-color: paleturquoise;
    margin: 2%;
    margin-left: 10%;
    margin-right: 10%;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.konten-a{
    text-decoration: none;
    color: blue;
}
/* ABOUT SELES */

/* COPAS CONTACT ME */
.service {
	padding-bottom: 100px;
}
.service {
	background-color: #f9f9f9;
}
.container {
	width:80%;
	margin:0 auto;
}
.container:after {
	content:'';
	display: block;
	clear: both;
}
.box {
	color:black;
}
.box:after {
	content: '';
	display: block;
	clear: both;
}
.box .col-4 {
	width:33%;
	padding:20px;
	box-sizing: border-box;
	text-align: center;
	float: left;
}
.box .col-4 h4 {
	margin:20px 0;
}
/* COPAS CONTACT ME SELES */

/* KONTEN SELESAI */





/* FOOTER MULAI */
.footer-blok{
    background-color:#27D3FE; 
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

/* FOOTER SELESAI */
